table.table {
    border-collapse: collapse;
    font-size: 12px;
}

table.table th, table.table td {
    padding: 4px;
}

table.table th {
    text-align: left;
}

table.table td {
    border-bottom: 1px solid;
    white-space: nowrap;
}

.filter-container {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-gap: 10px;
}

.filter {
    white-space: nowrap;
}

.priceRangeInput {
    width: 60px;
}